{% extends "base.html" %}

{% block main %}
<main class="main__wrapper">
    <section class="main__header">
        <h2>Cocktails</h2>
    </section>
    <br>
    <section class="main__cocktails">
        {% for cocktail in cocktail_list %}
        <h3>
            {{ cocktail }} --- {{ "$%.2f"|format(cocktail.price)  }}
        </h3>
        <p>
            {% for ingredient, amount in cocktail.ingredients.items() %}
            <p>{{ingredient}}: {{amount}} {{ingredient.unit}}</p>
            {% endfor %}
        </p>
        <br>
        <h4>Units:</h4>
        <p>
            {{ "%.2f"|format(calculate_units(cocktail))  }}
        </p>
        <hr>
        {% endfor %}
    </section>
</main>
{% endblock %}