.header__wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.header__title {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-items {
    display: flex;
    align-items: center;
    justify-content:center;
    list-style-type: none;
}

.header__nav-link {
    text-decoration: none;
    padding: 1rem 3rem;
    color: var(--white);
    font-size: 1.2rem;
    transition: all 400ms;
}

.header__nav-link:hover {
    border-bottom: 1px solid var(--main);
    background-color: var(--secondary);
}